[submodule "scenario_runner"]
	path = scenario_runner
	url = https://github.com/carla-simulator/scenario_runner.git
[submodule "scenario_runner_"]
	path = scenario_runner_
	url = https://github.com/ms99uni/scenario_runner_.git
